

fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}

body{
    background: color #94c75d;
}

h1{
    color: #94c75d;
}

h2 {
    color: #c7f5a9;
}



div.nav{
    background-color: #558a18;
    color: #8ee42c;
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
    font-size: 2em;
    text-align: center;
}

@media screen and (min-width: 576px) {
    body {
      background-color: #83b956;
    }
  }

  @media screen and (max-width: 800px) {
    body {
      background-color: #2e5a0c;
    }
  }